body {
  background-color: #f2ebde;
}

button {
  background-color: black;
  color: white;
  font-family: 'Courgette', cursive;
}

.App {
  text-align: center;
}

/* TITLE */

#titleDiv {
  margin-top: 0.5vw;
  font-family: 'Courgette', cursive;
}

#title {
  font-size: 3vw
}

/* CONTAINERS */

#sliderContainer {
  margin-bottom: 8px;
}

#mainContainer {
  border: 3px solid green;
}

#logContainer {
  border: 3px solid blue;
  height: 37.5vw;
  font-family: 'Courgette', cursive;
  padding: 1vw
}

#mapContainer {
  border: 3px solid red;
  height: 37.5vw;
}

/* SLIDER */

.btn-group {
  right: 100px;
}

.sliderStyle {
  width: 100%;
  height: 35px;
}

.railStyle {
  position: absolute;
  width: 100%;
  height: 10px;
  margin-left: 15px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #7B807A
}

.handleStyle {
  position: absolute;
  margin-left: 25px;
  z-index: 2;
  width: 30px;
  height: 30px;
  border: 0px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: #2C415C;
  color: #333
}

.trackStyle {
  position: absolute;
  height: 10px;
  z-index: 1;
  margin-top: 10px;
  margin-left: 30px;
  background-color: #2C415C;
  border-radius: 5px;
  cursor: pointer,
}



/* MAP */

/* LOG */

.firstLogEvent {
  color: red
}

.logEvent:hover {
  text-decoration: underline;
  cursor: pointer;
}

.modal-dialog {
  color: #2C415C;
  background-color: #7B807A;
  margin: 15vw 35vw;
}

.modal-header {
  border: none;
}

.modal-title {
  text-align: center
}


/* INFO */
