.App {
  text-align: center;
}

#titleDiv {
  margin-top: 1vw;
  font-family: 'Felipa', cursive;
}

#title {
  font-size: 3vw
}

#mapContainer {
  border: 3px solid red
}

#sliderContainer {
  border: 3px solid purple
}

#mainContainer {
  border: 3px solid green;

}

#logContainer {
  border: 3px solid blue
}
