.App {
  text-align: center;
}

#titleDiv {
  margin-top: 0.5vw;
  font-family: 'Felipa', cursive;
}

#title {
  font-size: 3vw
}

#sliderContainer {
  border: 3px solid purple;
  height: 2.5vw;
  margin-bottom: 10px;
}

#mainContainer {
  border: 3px solid green;
}

#logContainer {
  border: 3px solid blue;
  height: 37.5vw;
}

#mapContainer {
  border: 3px solid red;
  height: 37.5vw;
}
